<app-dashboard-nav></app-dashboard-nav>
<div class="container">
  <div class="dash">
    <p class="uL">You have 5 songs active</p>
    <div class="flexit">

      <div>
        <img src="http://placehold.it/100x100" alt="">
        <p>Song 1</p>
        <p><small>likes count: 6</small></p>
      </div>
      <div>
        <img src="http://placehold.it/100x100" alt="">
        <p>Song 2</p>
        <p><small>likes count: 15</small></p>
      </div>
      <div>
        <img src="http://placehold.it/100x100" alt="">
        <p>Song 3</p>
        <p><small>likes count: 108</small></p>
      </div>
      <div>
        <img src="http://placehold.it/100x100" alt="">
        <p>Song 4</p>
        <p><small>likes count: 200</small></p>
      </div>
      <div>
        <img src="http://placehold.it/100x100" alt="">
        <p>Song 5</p>
        <p><small>likes count: 4</small></p>
      </div>

    </div>
  </div>
</div>
