/* Portal Dashboard */
.dash {
	background-color: white;
	box-shadow: 0 2px 2px gray;
	margin-left: 200px;
	max-width: 1200px;
	padding: 10px;
}

.dash p {
	font-size: 1.5em;
}

.flexit {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Preview Card */
.preview {
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 2px gray;
	height: 405px;
	margin: 10px;
	margin-left: 620px;
	margin-top: -511px;
	padding: 10px;
	text-transform: uppercase;
	width: 320px;
}

/* Portal Upload Container */
.uploadContainer {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 2px 2px gray;
	margin-left: 200px;
	margin-top: 20px;
	padding: 10px;
	max-width: 400px;
}

.uploadContainer p, button, input {
	font-size: 1.5em;
	outline: none;
	padding: 5px;
	width: 100%;
}

.uploadContainer button {
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 4px gray;
}

.uploadContainer button:hover {
	cursor: pointer;
}

.uploadContainer button:active {
	background-color: darkgray;
	box-shadow: none;
}

/* Portal Manage Container */
.manageContainer {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 2px 2px gray;
	margin-left: 200px;
	margin-top: 20px;
	padding: 10px;
	max-width: 400px;
}

.manageSection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	width: 20%;
}

/* /// Footer /// */
footer {
	background-color: white;
	margin-top: 150px;
	padding: 20px;
	text-align: center;
	width: 100%;
}

/* /// Media Queries /// */

@media screen and (max-width:960px) {
	.forSmallScreens {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.portalNav {
		position: relative;
		width: 100%;
	}

	.uploadContainer {
		margin-left: 0;
		width: 100%;
	}

	.dash {
		margin: 0;
		margin-bottom: 20px;
		margin-top: 20px;
		width: 100%;
	}

	.preview {
		margin-left: 420px;
	}
}
