/* Portal Dashboard */
.dash {
	background-color: white;
	box-shadow: 0 2px 2px gray;
	margin-left: 200px;
	max-width: 1200px;
	padding: 10px;
}

.dash p {
	font-size: 1.5em;
}

.flexit {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Portal Manage Container */
.manageContainer {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 2px 2px gray;
	margin-left: 200px;
	margin-top: 20px;
	padding: 10px;
	max-width: 400px;
}

.manageSection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	width: 20%;
}
