.portalNav {
	background-color: white;
	left: 0;
	height: 100%;
	position: absolute;
	top: 100px;
	width: 200px;
}

.portalNav ul {
	margin-top: 20px;
}

.portalNav li {
	background-color: #3d3d3d;
	border-radius: 2px;
	color: white;
	margin: 10px;
	padding: 10px;
}

.portalNav li:active {
	background-color: white;
	color: black;
}
