.loginContainer {
	background-color: white;
	margin: 5% auto;
	padding: 20px;
	max-width: 600px;
}

.loginContainer h3 {
	font-size: 2.0em;
}

.loginContainer label {
	display: none;
}

.loginContainer form input {
	background-color: lightgray;
	border: none;
	border-radius: 5px;
	font-size: 2.0em;
	outline: none;
	padding: 30px;
	width: 100%;
}

#loginButton:hover {
	cursor: pointer;
}

#loginButton:active {
	background-color: gray;
}
