<div class="loginContainer">

  <h3>Login to your portal</h3>

  <form action="" method="get" accept-charset="utf-8">
    <p><label>Username</label></p>
    <p><input type="text" name="username" value="" id="username" placeholder="Username"></p>

    <p><label>Password</label></p>
    <p><input type="password" name="password" value="" id="password" placeholder="Password"></p>

    <!-- For testing purposes only. Action needs login_submit and <a> needs to be removed and input type needs to be submit -->
    <p><a routerLink="/dashboard"><input type="button" id="loginButton" value="Continue &rarr;"></a></p>
  </form>

</div>
