.uploadContainer {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 2px 2px gray;
	margin-left: 200px;
	margin-top: 20px;
	padding: 10px;
	max-width: 400px;
}

.uploadContainer p, button, input {
	font-size: 1.5em;
	outline: none;
	padding: 5px;
	width: 100%;
}

.uploadContainer button {
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 4px gray;
}

.uploadContainer button:hover {
	cursor: pointer;
}

.uploadContainer button:active {
	background-color: darkgray;
	box-shadow: none;
}
