<app-dashboard-nav></app-dashboard-nav>

<!-- Upload Container -->
<div id="upload" class="uploadContainer">

  <div class="uploadSection">

    <p class="uL">Title</p>

    <input type="text" name="songName" value="" id="uploadImage" placeholder="Name of your song">

  </div>

  <div class="uploadSection">

    <p class="uL">Cover</p>

    <input type="file" name="uploadImage" value="" id="uploadImage">

  </div>

  <div class="uploadSection">

    <p class="uL">MP3</p>

    <input type="file" name="uploadSong" value="" id="uploadImage">

  </div>

  <p><button>Upload Song</button></p>

</div>

<div class="preview">

  <img src="http://placehold.it/300x300" alt="">

  <p>Song Title</p>

  <audio src="" controls></audio>

</div>
