/* Colors:

// Gray: #757575
// Light Gray: #f9f9f9
// Red: #db1111

*/

* {
	box-sizing: border-box;
	outline: none;
}

body {
	background-color: #EAECEF;
	margin: 0 auto;
	padding: 0 20px;
}

h1, h2, h3, h4, h5, h6, span {
	font-family: 'Sedgwick Ave', cursive;
}

p {
	font-family: sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.uL {
	text-decoration: underline;
}

.container {
	margin-top: 100px;
}

.clear {
	clear: both;
}
