<div class="container">
  <div class="signupContainer">
    <div class="flexContainer">
      <div class="card">
        <a routerLink="/artist-signup">
          <img src="http://res.cloudinary.com/mperial-web-solutions/image/upload/c_crop,e_blur:3,g_center,h_300,w_300/v1510332616/artist%20portal/mic.jpg" alt="">
          <p>Artists click here to signup!</p>
        </a>
      </div>

      <div class="card">
        <a routerLink="/fan-signup">
          <img src="http://res.cloudinary.com/mperial-web-solutions/image/upload/c_crop,e_blur:3,g_center,h_300,w_300/v1510332613/artist%20portal/fans.jpg" alt="">
          <p>Fans click here to signup!</p>
        </a>
      </div>
    </div>
  </div>
</div>
