<div class="container">
  <div class="homeContainer">
    <div class="">
      <h1>Welcome to the <span>Artist Portal</span>!</h1>
    </div>

    <div class="">
      <p>The <span>Artist Portal</span> is yet another music platform where you can upload and share your music with the world!</p>

      <p>The purpose is Simplicity and True A&amp;R Exposure!</p>

      <h2>Artists</h2>
      <p>Create an account, login and begin uploading. That's it. <br> You're music will be displayed and "Fans" can simply like and share your music.</p>

      <h2>Fans</h2>
      <p>Create an account and start listening! Like a song? Let the artist know by clicking the like button. <br> The more likes an artist gets the closer that artist gets to Real A&amp;R's.</p>
    </div>

    <div class="signupButton">
      <a routerLink="/signup"><h3>Sign Up Now!</h3></a>
    </div>
  </div>
</div>
